.container {
	padding: 2.5em;
}

.ct-numeric {
	text-align: center;
}

.th-center {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.pt-table {
	position: center;
	width: 100%!important;
}